## Introduction
 - In this file we Web Scraping the Covid-19 website.

#### URL --> https://www.worldometers.info/coronavirus

### Importing all the necessary libraries.

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
url = 'https://www.worldometers.info/coronavirus/'

resp = requests.get(url)

soup = BeautifulSoup(resp.content,'html')

In [4]:
a = soup.find_all('div',attrs = {'class': 'main_table_countries_div'})

In [5]:
col = soup.find('thead').text.split('\n')[3:11]

In [6]:
col

['Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'NewRecovered',
 'ActiveCases']

In [7]:
b = soup.find('tbody')

In [8]:
c = b.find_all('tr')[8:]

In [9]:
row = []

In [10]:
for i in range (len(c)):
    row.append(c[i].text.split('\n')[2:10])

In [11]:
for i in range (221):
    for j in range(8):
        if row[i][j] == '' or row[i][j] == ' ':
            row[i][j] = 'None'

In [12]:
df = pd.DataFrame(row,columns=col)

Create a dataframe of required colums

In [13]:
df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases
0,USA,"31,499,322","+2,346","569,328",+46,"24,058,567",+5,"6,871,427"
1,Brazil,"13,023,189",None,"333,153",None,"11,436,189",None,"1,253,847"
2,India,"12,695,493","+11,016","165,633",+56,"11,735,016","+4,971","794,844"
3,France,"4,833,263",None,"96,875",None,"300,064",None,"4,436,324"
4,Russia,"4,597,868","+8,328","101,106",+389,"4,220,035","+8,902","276,727"
...,...,...,...,...,...,...,...,...
216,Marshall Islands,4,None,None,None,4,None,0
217,Samoa,3,None,None,None,2,None,1
218,Vanuatu,3,None,None,None,1,None,2
219,Micronesia,1,None,None,None,1,None,0
220,China,"90,329",+24,"4,636",None,"85,449",+18,244